.dropzone .dz-message + div {
	&.list-view {
		width: 100% !important;
		.dz-preview-new {
			position: relative !important;
			top: auto !important;
			left: auto !important;
			width: 100%;
			display: flex;
			// min-height: 132px;
			min-height: 100px;
			align-items: center;
			padding-right: 12px;
			margin: 9px;
			padding-bottom: 0px;

			.dz-image, .dz-image img {
				// width: 140px;
				// height: 90px;
			    width: 112px;
			    height: 72px;
				margin-left: 12px;
			}
			.dz-image img {
				margin-left: 0;
			}

			.dz-edit {
				position: absolute;
				width: 95%;
			    height: 100%;
			}

			.dz-details {
				opacity: 1;
				height: 100%;
			    display: inline-flex;
			    align-items: center;
			    padding-top: 0;
			    width: auto;
			    min-width: auto;
			    position: absolute;
			    left: auto;
			    padding: 0 24px;
			    right: 0;
			}

			.dz-checkbox {
				top: 6px;
				left: 15px;

				.check {
					box-shadow: none;
					border: solid 1px white;
				}
				.empty-circle {
				    border: solid 2px white !important;
				    background: #ddd !important;
				}
			}

			.dz-status {
				position: relative;
				bottom: 0;
				right: 0;
			}

			.dz-modified, .dz-uploaded, .dz-owner {
				display: block;
				// margin-right: 30px;
			}

			.dz-title {
				// margin: 0 60px 0 24px;
				min-width: 360px;
				margin: 0 48px 0 24px;
				font-size: 19px;
				font-size: 17px;

				.dz-filename {
					margin-top: 3px;
					display: block;
					font-size: 15px;
					color: #999;
				}
			}

			.dz-owner {
		        width: 9%;
		        margin-left: -6px;
			}

			.dz-modified, .dz-uploaded {
		        width: 9%;
			}

			.dz-size {
				margin-bottom: 0;
				margin-right: 18px;
				align-items: center;

				span {
				}
			}

			.dz-icon {
		        width: 6%;
				font-size: 19px;
				left: auto;
				bottom: auto;
				position: relative;
			}

			.dz-remove {
				position: relative;
				top: auto;
				right: 0;
				text-decoration: none;

				&:before {
					@include iconcss;
					content: '\EA46';
					color: mix(black, $color-grey-md);
					font-size: 21px;
				}
				svg {
					display: none;
					// fill: black !important;
				}
			}
			&:hover {
				.dz-image img {
					transform: none;
					filter: none;
				}
			}
		}
	}
}