.image\/jpeg {

	display: none;

	&--show {
		diplay: block;
	}
}

.image\/jpeg {

	display: none;

	&--show {
		diplay: block;
	}
}

.image\/svg\+xml {

	display: none;

	&--show {
		diplay: block;
	}
}

.image\/png {

	display: none;

	&--show {
		diplay: block;
	}
}

.image\/gif {

	display: none;

	&--show {
		diplay: block;
	}
}

.video\/mp4 {

	display: none;

	&--show {
		diplay: block;
	}
}

.audio\/mp3 {

	display: none;

	&--show {
		diplay: block;
	}
}


