.dark-theme {
	background: #1d1e21;

	.nav {
		background: lighten(#2a2b30, 2%);
	}

	.library-filters {
		background: #62788A;
		border-bottom: solid 6px #36474F;

		&-title {
			color: #e9e9e9;
		}
	}

	.library-filter-controls {
		button.apply {
			border-color: #8f9da5;
			color: #e9e9e9; 

			&:hover {
				background: transparent;
				color: darken(#36474F, 10%);
				border-color: #36474F;
			}
		}
	}

	.dropzone .dz-message + div {
		&.list-view {
			.dz-preview-new {

				.dz-checkbox {
					.check {
						border: solid 1px #2a2b30;
					}
					.empty-circle {
						border: solid 2px #2a2b30 !important;
					}
				}
			}
		}
	}

	.dropzone .dz-checkbox .check {
		background: #7d99b3;
		border: solid 1px #7d99b3;
		box-shadow: 0 0 12px 12px rgba(black,.2);
	}

	.bulk-editing-menu {
		button {
			&.image-button--highlighted, &.video-button--highlighted, &.audio-button--highlighted, &.grid-view-button--highlighted, &.list-view-button--highlighted {
				border-color: transparent;
				background: white; 
				i {
					color: #91A5B7; 
					-webkit-text-stroke: 0px #91A5B7;
				}
			}
		}
	}

	.dropzone .dz-preview-new.dz-image-preview {
		background-color: #2a2b30;
	}

	.selectbox__field .selectbox__label {
		opacity: 0.72;
	}

	.notify-others {
		.notify-button {
			border-bottom-color: rgba(#e9e9e9, 0.4);

			button {
				background-color: #91A5B7
			}
			div.ReactTags__selected span.ReactTags__tag {
			    border: 1px solid #383a40;
			    background: #383a40;
			}

			div.ReactTags__tagInput input.ReactTags__tagInputField,
		    div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
		      color: #e9e9e9;
		    }
		}
	}

	.bulk-editing-menu button.bulk-button.disabled {
	    border-color: #AEBDCA;
	    i {
	    	color: #AEBDCA;
	    	-webkit-text-stroke: .5px #AEBDCA;
	    }
	}

	.actions-header .last-edited, .actions-header .group-by {
	    color: #cacaca;
	}

	.library-item-text .icon-edit, .actions-header .go-to-project i {
		color: #91A5B7;
	}

	.filling-out-status {
		.swatch {
			border: solid 1px #2a2b30;
		}
	}

	.selectbox_state_focused .selectbox__input, .field__focused .field-text__input {
		border-color: lighten(#91A5B7, 6%) !important;
		box-shadow: 0 1px 0 0 lighten(#91A5B7, 6%);
	}

	.selectbox__field.selectbox_state_open .selectbox__label, .selectbox__field.selectbox_state_focused .selectbox__label {
		color: lighten(#91A5B7, 6%);
	}

	.selectbox__list-item--selected, .selectbox__list-item--selected.is-hightlighted {
		background-color: lighten(#91A5B7, 6%);
	}

	.selectbox__wrapper {
		.selectbox__input {
			border-bottom: solid 1px rgba(#ddd, 0.72);
		}
		&:hover {
			.selectbox__input {
				border-bottom: solid 1px rgba(#ddd, 1);					
			}			
		}
	}

	.field-text__input {
		border-bottom: solid 1px rgba(#ddd, 0.72);
		color: #666;
	}

	.files-information .notify-others .input__label-content--chisato {
		color: #ddd;
	}

	.files-information {
		.files-information-close {
			background-color: #2a2b30;
		}
		&:before {
			border-bottom-color: #2a2b30;
		}
		.card--id-basic-info, .card--id-metadata, .card--id-additional { 
			background-color: #383a40;
		}
	}

	.modal-main {
		background-color: rgba(darken(#62788A, 12%), 0.95);
		background-color: rgba(lighten(#2a2b30, 12%), 0.9);
	}

	.card-board #header {
		color: darken(#e9e9e9, 12%);
	}

	.actions-header {
		color: darken(#e9e9e9, 6%);
	}

	.actions-header .group-by {
		color: darken(#e9e9e9, 6%);
	}

	.card-section__title:before {
		border-bottom: 1px solid #1d1e22;
	}

	.library-item {
		font-weight: 300;
		color: darken(#e9e9e9, 12%);
	}

	.library-item-row {
		background-color: #383a40;
	}

	.card-title {
		color: #eee;
	}

	.dropzone-wrapper .uploading-content-header {
		background: #91A5B7;
		border-bottom: solid 6px #62788A;
	}

	#drag-and-drop-illustration {
		-webkit-filter: contrast(40%) invert(100%) grayscale(100%); 
		filter: contrast(40%) invert(100%) grayscale(100%);
		opacity: 0.33;
		fill-opacity: 0;
		margin-top: 21px;

	}

	.dz-clickable {
		color: #999;
	}

	.card {
		background-color: #2a2b30;
	}
}
